@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400;500;600;700&family=Poppins:wght@300;400;500;600&display=swap');

* {
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

:root {
  --color-bg: #ff7272;
  --color-bg-variant: #c81515;
  --color-primary: #ea5959;
  --color-primary-variant: #d1a49f;
  --color-white: #fff;
  --color-light: rgba(255, 255, 255, 0.8);

  --transition: all 400ms ease;

  --container-width-lg: 75%;
  --container-width-md: 86%;
  --container-width-sm: 90%;
}

html {
  scroll-behavior: smooth;
}

.wrapper {
  margin:  2rem;
}

 body {
  margin: 0;
  font-family: 'Fredoka', sans-serif;
  background: var(--color-bg);
  color:var(--color-white);


}

/* .contect {
  justify-content: center;
} */

.btn {
  width: max-content;
  color: var(--color-bg-variant);
  padding: 0.55rem 1.2rem;
  border-radius: 1rem;
  cursor: pointer;
  border: 2px solid var(--color-bg-variant);
  transition: var(--transition);
  background-color: var(--color-bg);
}
.btn-primary {
  background: var(--color-bg-variant);
  color: var(--color-white);
}
.btn:hover {
  background: var(--color-light);
  color: var(--color-bg-variant);
  border-color: transparent;
}


/* ======================= HEADER ===================== */

header {
  display: grid;
  grid-template-columns: 10% 85%;
  gap: 5%;
  align-items: center;
  color: var(--color-primary);
  direction: rtl;
  background-image: linear-gradient(to right,#C3DDEA, #EAD1EF, #CFD7EE,#C2E0EA, #E2EADD,#F9ECDB, #EEDAE6 ), url('/src/images/background.png');
  /* background-repeat: no-repeat; */
  padding: 1rem 1.5rem 0rem;
  height: 8rem;

}

.header-wrapper {
  /* display: grid;
  grid-template-columns: 10% 85%;
  gap: 5%; */
  display: flex;
  justify-content: space-between;
  background-image: linear-gradient(to right,#C3DDEA, #EAD1EF, #CFD7EE,#C2E0EA, #E2EADD,#F9ECDB, #EEDAE6 );
  direction: rtl;
  align-items: center;
}

.nav-logo {
  width: 7rem;
  height: 7.5rem;
}



/* ======================= Navbar ===================== */


nav ul {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.link {
  transition: var(--transition);
  cursor: pointer;
  color: var(--color-bg-variant);
  padding: 0.2rem 0.85rem 0;
  border-radius: 1.5rem;
  font-size: 1.25em;
  font-weight: 500;
  position: relative;
  white-space: nowrap;

}

.link:hover {
  background-color: var(--color-bg);
  color: var(--color-white);
}

.active:before {
  color: var(--color-bg-variant);
  content: "";
  width: 35%;
  height: 1px;
  border-bottom: 2px solid var(--color-bg-variant);
  bottom: -6px;
}

/* ================== HEADLINE ============ */
.headline {
  background-color: #c81515;
}

/* ======================= CAROUSEL ===================== */

/* .carousel-section {
  display: flex;
  justify-content: center; 
  align-items: center;
  margin: 2rem 0 ;
  padding: 0; 
  overflow: visible;
  background-color: var(--color-primary-variant);
} */
.carousel {
  width: 100%;
}
.carousel-card {
  background-color: rgba(185, 41, 41, 0.5);
  height: 500px;
  border: 1.5px solid #c81515;
  padding: 0 1.5rem;
}

.card-headline {
  font-size: 3em;
  direction: rtl;
  padding-right: 5rem;
}
.carousel-card-content {
  display: flex;
  justify-content: space-around;
  direction: rtl;
 
}
.carousel-card-text {
 display: block;
 line-height: 3vh;
 /* grid-template-rows: repeat(3,1fr);
 justify-content: center; */
}
.carousel-links {
  display: block;
}
.card-button {
  display: block;
  width: 12rem;
  margin-top: 5px;
}
.carousel-image {
  height: 33%;
  width: 33%;
  transform: rotate(-2deg);
}

.carousel-image:hover {
  transform: rotate(0deg);
}






/* ==================== MEDIA QUERIS (MEDIUM DEVICES) ====================== */

@media screen and (max-width: 1024px) {

}

/* ==================== MEDIA QUERIS (SMALL DEVICES) ====================== */

@media screen and (max-width: 600px) {
  nav {
    margin: 0;
    border: hidden;
  }
  .links {
    display: none;
  }
 
}



/* ======================= CLOUDS ===================== */


#background-wrap {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}


@-webkit-keyframes animateCloud {
    0% {
        margin-left: -50rem;
    }
    100% {
        margin-left: 100%;
    }
}

@-moz-keyframes animateCloud {
    0% {
        margin-left: -50rem;
    }
    100% {
        margin-left: 100%;
    }
}

@keyframes animateCloud {
    0% {
        margin-left: -50rem;
    }
    100% {
        margin-left: 100%;
    }
}

/* ANIMATIONS */

.x1 {
	-webkit-animation: animateCloud 38ms linear infinite;
	-moz-animation: animateCloud 38s linear infinite;
	animation: animateCloud 38s linear infinite;

	-webkit-transform: scale(0.65);
	-moz-transform: scale(0.65);
	transform: scale(0.65);

  margin-top: 25%;

}

.x2 {
	-webkit-animation: animateCloud 33s linear infinite;
	-moz-animation: animateCloud 33s linear infinite;
	animation: animateCloud 33s linear infinite;

	-webkit-transform: scale(0.3);
	-moz-transform: scale(0.3);
	transform: scale(0.3);

  margin-top: 2%;
}

.x3 {
	-webkit-animation: animateCloud 35s linear infinite;
	-moz-animation: animateCloud 35s linear infinite;
	animation: animateCloud 35s linear infinite;

	-webkit-transform: scale(0.5);
	-moz-transform: scale(0.5);
	transform: scale(0.5);

  margin-top: 10%;
}

.x4 {
	-webkit-animation: animateCloud 31s linear infinite;
	-moz-animation: animateCloud 31s linear infinite;
	animation: animateCloud 31s linear infinite;

	-webkit-transform: scale(0.4);
	-moz-transform: scale(0.4);
	transform: scale(0.4);

  margin-top: 4%;
}

.x5 {
	-webkit-animation: animateCloud 28s linear infinite;
	-moz-animation: animateCloud 28s linear infinite;
	animation: animateCloud 28s linear infinite;

	-webkit-transform: scale(0.55);
	-moz-transform: scale(0.55);
	transform: scale(0.55);

  margin-top: 7%;
}

/* OBJECTS */

.cloud {
	background: #fff;
	background: -moz-linear-gradient(top,  #fff 5%, #f1f1f1 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(5%,#fff), color-stop(100%,#f1f1f1));
	background: -webkit-linear-gradient(top,  #fff 5%,#f1f1f1 100%);
	background: -o-linear-gradient(top,  #fff 5%,#f1f1f1 100%);
	background: -ms-linear-gradient(top,  #fff 5%,#f1f1f1 100%);
	background: linear-gradient(top,  #fff 5%,#f1f1f1 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fff', endColorstr='#f1f1f1',GradientType=0 );

	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	border-radius: 100px;

	-webkit-box-shadow: 0 8px 5px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0 8px 5px rgba(0, 0, 0, 0.1);
	box-shadow: 0 8px 5px rgba(0, 0, 0, 0.1);

	height: 120px;
	position: relative;
	width: 350px;
  opacity: 70%;
}

.cloud:after, .cloud:before {
    background: #fff;
	content: '';
	position: absolute;
	z-indeX: -1;
}

.cloud:after {
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	border-radius: 100px;

	height: 100px;
	left: 50px;
	top: -50px;
	width: 100px;
}

.cloud:before {
	-webkit-border-radius: 200px;
	-moz-border-radius: 200px;
	border-radius: 200px;

	width: 180px;
	height: 180px;
	right: 50px;
	top: -90px;
}

/* ================= MEDIA QUERIS (MEDIUM DEVICES) ================== */

@media screen and (max-width:1024px){
  .x1 {
    margin-top: 20%;
  }
}

/* ==================== MEDIA QUERIS (SMALL DEVICES) ====================== */

@media screen and (max-width:600px){
  .x1 {
    margin-top: 40%;
  }
}